{% extends 'dashboard.html' %}

{% block content %}
<div class="modal fade" id="editEmployeeModal{{ employee.id }}" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel{{ employee.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{% url 'edit_employee' employee.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmployeeModalLabel{{ employee.id }}">Modifier l'Employé</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}